body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 10vh;
    min-height: 25px;
    background-color: grey;
    h1 {
        height: inherit;
        margin: 0;
        img {
            height: inherit;
        }
    }
}